@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic);@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap);*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
@charset "UTF-8";
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}

hr {
  border: none;
  border-top: 1px solid #dadada;
  margin: 15px 0;
}

body {
  font: 16px/150% Roboto, sans-serif;
  font-weight: 400;
}

.h1, h1 {
  font: 800 64px/100% Roboto Slab, sans-serif;
  margin-bottom: 0.5em;
}
@media (max-width: 767.98px) {
  .h1, h1 {
    font: 800 36px/130% Roboto Slab, sans-serif;
  }
}

.h2, h2 {
  font: 800 48px/100% Roboto Slab, sans-serif;
  margin-bottom: 0.5em;
}
@media (max-width: 767.98px) {
  .h2, h2 {
    font: 800 32px/130% Roboto Slab, sans-serif;
  }
}

.h3, h3 {
  font: 800 28px/100% Roboto Slab, sans-serif;
  margin-bottom: 0.5em;
}
@media (max-width: 767.98px) {
  .h3, h3 {
    font: 800 24px/130% Roboto Slab, sans-serif;
  }
}

.h4, h4 {
  font: 400 24px/130% Roboto Slab, sans-serif;
  margin-bottom: 0.5em;
}
@media (max-width: 767.98px) {
  .h4, h4 {
    font: 400 18px/130% Roboto Slab, sans-serif;
  }
}

.h5, h5 {
  font: 800 20px/130% Roboto Slab, sans-serif;
  margin-bottom: 0.5em;
}
@media (max-width: 767.98px) {
  .h5, h5 {
    font: 800 18px/130% Roboto Slab, sans-serif;
  }
}

a {
  color: #c6362e;
}
a:hover {
  color: #9d2b24;
}

p a, .list-styled a {
  border-bottom: 1px dashed orange;
}
p a:hover, .list-styled a:hover {
  text-decoration: none;
}

[role=button] {
  cursor: pointer;
}

small, .small {
  line-height: 1.1;
  font-size: 80%;
}

p {
  margin-bottom: 0;
}
p + p {
  margin-top: 15px;
}

.input {
  width: 100%;
  font-size: 16px;
  position: relative;
}
.input.input_form {
  margin-bottom: 15px;
}
.input input, .input textarea, .input select {
  color: #242424;
  background: white;
  border: 1px solid #dadada;
  border-radius: 25px;
  padding: 10px 25px;
  box-sizing: border-box;
  outline: none !important;
}
.input input:focus, .input textarea:focus, .input select:focus {
  border: 1px solid #822ec6;
}
.input textarea {
  display: block;
}
.input select {
  padding-left: 20px;
  -webkit-appearance: none;
}
.input label {
  align-items: center;
  margin: 0;
}
.input input, .input textarea, .input select {
  width: 100%;
}
.input input[type=time] + label, .input input[type=date] + label, .input input:focus + label, .input input.filled + label, .input textarea[type=time] + label, .input textarea[type=date] + label, .input textarea:focus + label, .input textarea.filled + label, .input select[type=time] + label, .input select[type=date] + label, .input select:focus + label, .input select.filled + label {
  color: #6A6A6A;
}
.input input:focus + label, .input textarea:focus + label, .input select:focus + label {
  color: #822ec6;
}
.input label {
  padding: 0 15px;
}
.input input[type=date]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.input .input__icon {
  position: absolute;
  right: 0;
  height: 45px;
  width: 45px;
  align-items: center;
  justify-content: center;
}
.input .input__suggested-wrap {
  box-shadow: 0 3px 6px #0000001c;
  border-radius: 25px;
  padding: 10px 0;
}
.input .input__suggested-item {
  padding: 2px 15px;
  cursor: pointer;
}
.input .input__suggested-item:hover {
  background: #f2f2f2;
}

.checkbox {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 16px;
  min-height: 25px;
}
.checkbox label {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
  position: relative;
}
.checkbox input:disabled + label {
  opacity: 0.5;
}
.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  display: none;
}
.checkbox input[type=checkbox] ~ label:hover:before {
  border: 1px solid #777575;
}
.checkbox input[type=checkbox] ~ label::before {
  content: "";
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  background: #cfcfcf no-repeat center;
  border: 1px solid #6580e22b;
  margin-right: 7px;
}
.checkbox input[type=checkbox] ~ label:after {
  content: "\F00C";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  font-size: 24px;
  transform: translateY(-10px);
  position: absolute;
  left: -3px;
  top: -6px;
  color: #c6362e;
  opacity: 0;
  transition: all 0.1s ease-in;
  pointer-events: none;
}
.checkbox input[type=checkbox]:active ~ label:before {
  transform: scale(1.3);
}
.checkbox input[type=checkbox]:checked ~ label::after {
  opacity: 1;
  transform: translateY(0);
}
.checkbox.checkbox_vertical label {
  padding-left: 0 !important;
  padding-top: 30px;
  min-width: 25px;
}
.checkbox.checkbox_vertical label:before {
  bottom: auto !important;
}
.checkbox.checkbox_form {
  margin-bottom: 15px;
}

.switch {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 16px;
  min-height: 25px;
}
.switch label {
  display: flex;
  cursor: pointer;
  margin-bottom: 0;
  color: inherit;
}
.switch input:disabled + label {
  opacity: 0.5;
}
.switch input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.switch input[type=checkbox] ~ label {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.switch input[type=checkbox] ~ label:hover:before {
  box-shadow: 0 0 10px #00000047;
}
.switch input[type=checkbox] ~ label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c6362e;
  right: 25px;
  transition: transform 0.1s ease-in;
}
.switch input[type=checkbox] ~ label::after {
  content: "";
  width: 50px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #242424;
  border: 1px solid #6580e22b;
  transition: background 0.1s ease-in;
}
.switch input[type=checkbox]:checked ~ label::before {
  transform: translateX(30px);
}
.switch input[type=checkbox]:checked ~ label::after {
  background: #e3e3e3;
}

.radio {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 16px;
}
.radio label {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
}
.radio input:disabled + label {
  opacity: 0.5;
}
.radio input[type=radio] {
  opacity: 0;
  position: absolute;
}
.radio input[type=radio] ~ label::before {
  content: "";
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  background: #f8f9fa;
  border: 2px solid rgba(130, 46, 198, 0.3);
  border-radius: 50%;
  transition: all 0.1s ease-in;
  margin-right: 5px;
}
.radio input[type=radio]:checked ~ label::before {
  border-color: #822ec6;
}
.radio input[type=radio]:checked ~ label::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #6580e2;
  position: absolute;
  left: 6px;
  top: 6px;
  margin: auto;
  z-index: 3;
}
.radio input[type=radio]:active ~ label::before {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  letter-spacing: 0.6px;
  font-size: 14px;
  line-height: 28px;
  padding: 5px 20px;
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  outline: none !important;
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.btn.btn_primary {
  background: linear-gradient(180deg, #d2443c 0%, #c6362e 100%);
  color: white;
}
.btn.btn_dark {
  background: linear-gradient(180deg, #313131 0%, #242424 100%);
  color: white;
}
.btn.btn_info {
  background: linear-gradient(180deg, #d8d8ff 0%, #a6a5ff 100%);
  color: white;
}
.btn.btn_link {
  background: none;
  box-shadow: none;
  border: none;
  padding: 0;
}
.btn.btn_sm {
  font-size: 12px;
  line-height: 16px;
  padding: 5px 10px;
}
.btn.btn_form {
  margin-right: 15px;
  margin-bottom: 15px;
}

ul, ol {
  padding-left: 20px;
}

ul.list-styled li {
  list-style: none;
  position: relative;
}
ul.list-styled li:before {
  content: "";
  background: #003c4d;
  position: absolute;
  width: 7px;
  height: 7px;
  line-height: 1rem;
  top: 0.7rem;
  left: -15px;
  border-radius: 50% 0 50% 50%;
  transform: rotate(45deg);
}

.list_unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list_spaced-7 li + li {
  margin-top: 7px;
}

.list_spaced-15 li + li {
  margin-top: 15px;
}

.list_spaced-30 li + li {
  margin-top: 30px;
}

.breadcrumbs {
  font-size: 14px;
  display: flex;
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  overflow: auto;
}
@media (max-width: 991.98px) {
  .breadcrumbs {
    padding-top: 15px;
  }
}
.breadcrumbs > li {
  text-transform: uppercase;
  font-weight: 600;
  color: #C3C3C3;
  text-decoration: none;
  padding: 0 15px;
}
.breadcrumbs > li a {
  color: inherit;
}
.breadcrumbs > li a:hover {
  color: #c6362e;
  text-decoration: none;
}
.breadcrumbs > li a:after {
  content: ">";
  vertical-align: middle;
  margin-top: -5px;
  display: inline-block;
  padding-left: 10px;
  margin-right: -15px;
}
.breadcrumbs > li:first-of-type {
  padding-left: 0;
}
.breadcrumbs > li:last-of-type {
  border-right: none;
}