<template>
    <button type="button"
            class="toolbar__button"
            :class="{ 'is-active': editor.isActive.link() }"
            @click="showModal"
    >
        <i class="far fa-link"></i>
    </button>
</template>

<script>
    import Vue from "vue";
    import LinkModal from "@/js/common/components/TipTap/Link/LinkModal";

    export default {
        name: "LinkButton",
        components: {LinkModal},
        props: ['editor'],
        methods: {
            showModal() {
                const modalClass = Vue.extend(LinkModal);
                const modal = new modalClass({
                    propsData: {
                        editor: this.editor,
                    }
                });
                modal.$mount();
                document.body.appendChild(modal.$el);
            }
        }
    }
</script>

<style scoped>

</style>
