<template>
    <div class="app">
        <sidebar></sidebar>
        <main class="content">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    import Sidebar from "./sidebar/Sidebar";


    export default {
        name: "App",
        components: {Sidebar},
        mounted() {
            console.log('base app loaded');
        }
    }
</script>

<style scoped lang="scss">
    .app {
        display: flex;
        min-height: 100vh;
        align-items: stretch;
    }

    .sidebar {
        min-width: 250px;
        background: #2d2d2d;
    }

    .sidebar__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sidebar__item a {
        display: block;
        padding: 15px;
        color: white;
    }

    .content {
        width: 100%;
        padding: 15px;
    }
</style>
