<template>
    <div class="message-wrap">
        <div class="btns-wrap">
            <Reminder
                @sendTime="setTimer"
            />
            <button @click="$emit('edit')" type="button" class="my-btn" title="edit">/</button>
            <button @click="$emit('remove')" type="button" class="my-btn" title="delete">x</button>
        </div>
        <div class="message">
            <div v-html="message.text"></div>
            <div class="message__time">
                <span v-if="message.edited">Edited </span>{{message.time | f_testFilter}}
                <template v-if="d_timer > 0">Popup in: {{d_timer}}</template>
            </div>
        </div>
    </div>
</template>

<script>
    import Reminder from "@/common/js/components/Reminder";

    export default {
        name: "Message",
        components: {Reminder},
        data() {
            return {
                d_popupVisible: false,
                d_timer: null,
                d_timerId: null,
            }
        },
        props: {
            message: {
                type: Object,
                required: true,
                default() {
                    return {}
                }
            }
        },
        watch: {
            d_timer(val) {
                if (val === 0) {
                    this.$emit('remind');
                    clearInterval(this.d_timerId);
                }
            },
        },
        filters: {
            f_testFilter(value) {
                // console.log(value);
                return value;
            }
        },
        methods: {
            setTimer(time) {
                if (time.minutes <= 60 && time.minutes >= 0 && time.seconds <= 60 && time.seconds >= 0) {
                    this.d_timer = time.minutes * 60 + time.seconds;
                    this.d_timerId = setInterval(() => this.d_timer--, 1000);
                } else {
                    alert('Incorrect time!');
                }

            },
        }
    }
</script>

<style scoped lang="scss">
    .message-wrap {
        margin: 0 0 10px 10px;
        display: flex;
        align-items: baseline;

        &:hover .btns-wrap {
            display: flex;
        }
    }

    .btns-wrap {
        margin-right: 10px;
        /*display: none;*/
        display: flex;
        align-items: baseline;
    }

    .message {
        background-color: gainsboro;
        border-radius: 15px;
        padding: 5px 20px;
        max-width: 400px;
        text-align: left;
        overflow-wrap: break-word;
        white-space: pre-line;

        &__time {
            color: rgba(#212529, .8);
            font-size: 11px;
            text-align: right;
            line-height: 120%;
        }
    }

    .my-btn {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        cursor: pointer;
        border: none;
        padding: 0 15px;
        border-radius: 25px;
        background: #2d2d2d;
        color: white;
        font-size: 12px;

        &:hover {
            background: rgba(#2d2d2d, .8);
        }

        &:active {
            outline: none;
            transform: scale(.8);
        }

        &:focus {
            outline: none;
        }
    }
</style>

