<template>
    <div>
        <Message v-for="message of messages"
                 v-bind:message="message"
                 v-bind:key="message.id"
                 @edit="$emit('editMessage', message)"
        ></Message>
    </div>
</template>

<script>
    import Message from "@/common/js/components/Message";

    export default {
        name: "MessageList",
        props:["messages"],
        components: {Message},

    }

</script>

<style scoped>

</style>
