<template>
    <div>
        <div>
            <h2>page 2</h2>
            <button class="btn btn_dark btn_form"
                    @click="d_count++"
            >Click me
            </button>
            <div @click.ctrl="handleClick">Click counter: {{ d_count }}</div>
        </div>
    </div>
</template>

<script>
    import NumberInput from "./utils/NumberInput";
    export default {
        name: "Page2",
        components: {NumberInput},
        data() {
            return {
                d_count: 0,
            }
        },
        methods: {
            handleClick(){
                window.alert();
            }
        }
    }
</script>

<style scoped>

</style>
