<template>
    <div class="container">
        <div class="chat-container">
            <h1 class="title">Chat</h1>
            <div class="chat-body">
                <div class="main-wrap">
                    <div class="main">
                        <Message
                            v-for="(message, index) of d_messages"
                            :message="message"
                            :key="message.id"
                            @edit="handleMessageEditing(message,index)"
                            @remove="deleteMessage(index)"
                            @remind="showPopup(message)"
                        />
                    </div>
                </div>
                <div class="input input_form input-wrap">
                    <div class="textarea" contenteditable="true"
                         ref="msgInput"
                         @input="handleMsgInput"
                         @keydown.ctrl.enter="sendMessage"
                    ></div>
                    <button @click="sendMessage" type="button" class="my-btn btn-send">Send</button>
                </div>
            </div>
        </div>
        <div class="popup-container">
            <popup v-for="(msg,index) in d_reminders"
                   :key="index"
                   :msg="msg"
                   @close="closePopup(index)">
            </popup>
        </div>
    </div>
</template>

<script>
    import Test from "@/common/js/components/Test";
    import Dropdown from "@/common/js/components/utils/Dropdown";
    import Message from "@/common/js/components/Message";
    import MessageList from "@/common/js/components/MessageList";
    import moment from 'moment';
    import Popup from "@/common/js/components/Popup";

    moment.locale("ru");

    export default {
        name: "Page1",
        components: {Popup, MessageList, Message, Dropdown, Test},
        data() {
            return {
                d_text: null,
                check: null,
                d_id: 0,
                d_index: null,
                d_messages: [],
                message: null,
                currentEditingMessage: null,
                d_reminders: [],
            }
        },

        methods: {
            handleMsgInput(event) {
                this.d_text = event.target.innerHTML;
            },
            sendMessage: function () {
                if (this.currentEditingMessage) {
                    if (!this.d_text || this.d_text.length === 0) {
                        this.deleteMessage(this.d_index);
                    } else {
                        this.currentEditingMessage.text = this.d_text;
                        this.currentEditingMessage.time = moment().calendar();
                        this.currentEditingMessage.edited = true;
                    }
                    this.currentEditingMessage = null;
                } else {
                    if (this.d_text && this.d_text.length !== 0) {
                        this.d_messages.push({
                            id: this.d_id++,
                            text: this.d_text,
                            time: moment().calendar(),
                            edited: false
                        });
                        this.scrollToBottom();
                    }
                }
                this.clear();
            },
            clear() {
                this.$refs.msgInput.innerHTML = '';
                this.d_text = null;
            },
            scrollToBottom() {
                const mainWrap = document.querySelector('.main-wrap');
                this.$nextTick(() => mainWrap.scrollTop = mainWrap.scrollHeight);
            },
            handleMessageEditing(message, index) {
                this.$refs.msgInput.innerHTML = message.text;
                this.d_text = message.text;
                this.currentEditingMessage = message;
                this.d_index = index;
            },
            deleteMessage(index) {
                if (confirm('Delete message?') === true) {
                    this.d_messages.splice(index, 1);
                }
            },
            showPopup(msg) {
                this.d_reminders.push(msg);
            },
            closePopup(idx) {
                this.d_reminders.splice(idx, 1)
            }
        }
    }
</script>

<style scoped lang="scss">
    .container {
        position: relative;
    }

    .chat-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .title {
        text-align: center;
    }

    .main-wrap {
        overflow-y: scroll;
        height: 500px;

        &::-webkit-scrollbar {
            width: 0; /* ширина scrollbar'a */
            background: transparent; /* опционально */
        }
    }

    .main {
        margin-top: auto;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .input-wrap {
        display: flex;
        align-items: flex-start;

        div {
            margin-right: 10px;
            color: #242424;
            background: white;
            border: 1px solid #dadada;
            border-radius: 5px;
            padding: 7px 10px;
            resize: none;
            outline: none !important;

            &:focus {
                border: 1px solid #822ec6;
            }
        }
    }

    .my-btn {
        border: none;
        padding: 8px 20px;
        border-radius: 5px;
        background: #2d2d2d;
        color: white;


        &:hover {
            background: rgba(#2d2d2d, .9);
        }

        &:active {
            transform: scale(.9);
        }

        &:focus {
            outline: none;
        }
    }

    .btn-send {
        /* position: absolute;*/
        /*bottom: 3px;*/
        /* right: 3px;*/
    }

    .textarea {
        white-space: pre-line;
        width: 100%;
        max-height: 150px;
        overflow-y: auto;
    }

    .popup-container {
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: grid;
        grid-gap: 15px;
    }
</style>

<!--
        Атрибуты которые принадлежат  vue называются директивами.
        v-bind - директива, позволяет передать переменную в компонент
        v-bind:hello="messages" - hello это переменная, messages - значение
--------------------------------------------------------
        {{property}} - интерполяция строк
--------------------------------------------------------
        <h1 v-if="d_id === 1">1</h1> v-if директрива при ее использовании блок html будет удаляться если условие не выполняется, иначе будет перерисовываться
        <h1 v-else-if="d_id === 2">2</h1> блоки с условиями должны идти друг за другом
        <h1 v-else>{{d_id}}</h1>

        <div v-if="..."> если условие не выполнится, все что внутри дива не будет отображено
        <h1></h1>
        <p></p>
        </div>

        <template v-if="..."> если блоки на одном уровне
        <h1></h1>
        <p></p>
        <template>

        <h1 v-show="условие">заголовок</h1>
        аналог if else только элемент всегда будет находиться в ДОМ дереве.
        Если ложь то будет присвоено свойство display:none, иначе display:block
--------------------------------------------------------
        Динамическое присвоение классов:
        <div :class="{active: isActive}"></div> - управление одним классом
        <div :class="{active: isActive, 'any-class':condition}"></div> - управление множеством классов
        <div class="class1 class2" :class="{active: isActive, 'any-class':condition}"></div> - class1 class2 будут всегда
        <div :class="[isActive ? 'active class1' : 'disabled class2' , 'default class3' ]"></div> - можно юзать тернарный оператор
        <div :style="{color:'red', width: width + 'px'}"></div> - со стилями можно делать то же самое, width в данном случае переменная, юзается сложение строк
        data(){
            return {
                isActive: true,
            }
        }
        :class то же самое что и v-bind:class
        при работе с классами используются объекты поэтому в кавычках одинарные фигурные скобки
        active - название класса который будет динамичиски присваиваться данному диву
        isActive - свойство с булевым значением
        если isActive истина то диву будет присвоен класс active, иначе класс не будет присвоен.
--------------------------------------------------------
        <li v-for="(item, index) in list"> перебор многомерного массива li будет повторяться столько раз сколько элементов в массиве list
        index {{ index }}: {{ item }}
        </li>
         <li v-for="user in users"> одномерного массива
        {{ user:id }}: {{ user:name }}
        </li>
--------------------------------------------------------
        функции обьявляются в поле methods
        можно писать функции без ключевого слова function:
        thisIsFunction(){
        do smht
        },
        можно обьявлять функции и так
        thisIsFunction:function(){ анонимная функция
        do smht
        },
--------------------------------------------------------
       Директива v-on отвечает за обработку событий:
       v-on:click="nameFunc" или @click="nameFunc"
--------------------------------------------------------
        watch - наблюдатель, используется для валидации форм
        watch:{
        property:function{ property - свойсвто за которым мы следим, оно указывается в <input type="text" v-model="property">
        do smth
        }
        },
        Директива v-model используется для двунаправленного связывания данных с элементами форм input, textarea и select.
        двунаправленного связывания это когда мы можем менять содержимое поля и из кода (с помощью функций) и вручную написав текст в инпут
--------------------------------------------------------
        @clicked v-to:clicked (???)
        :hover-open двоеточие для того чтобы строка "true" интерпретировалась как значение true
        то же самое и с числами
--------------------------------------------------------
        scoped - нужен чтобы стили применялись только для текущего копонента.
--------------------------------------------------------
        реактивность - одна из возможностей vue
        если изменить инпут то текст моментально отобразится
--------------------------------------------------------
        возможности ES6
        ... - оператор spread (расширение),
        Оператор spread позволяет расширять выражения в тех местах, где предусмотрено использование нескольких аргументов.
        пример:
        var mid = [3, 4];
        var arr = [1, 2, mid, 5, 6];
        console.log(arr); //[1, 2, [3, 4], 5, 6]
--------------------------------------------------------
        var mid = [3, 4];
        var arr = [1, 2, ...mid, 5, 6];
        console.log(arr); //[1,2,3,4,5,6]
--------------------------------------------------------
        компоненты писать с большой буквы без дефисов
--------------------------------------------------------
        сделать чат сам с собой с возможностью редактирования
--------------------------------------------------------
        можно ли заниматься на практике дипломом? можно ли написать отчет

        -->
