<template>
    <div class="popup-notification">
        <button type="button" class="popup-notification__close-btn"
                @click="$emit('close')"
        ><i class="fas fa-times"></i></button>
        <div class="popup-notification__content">
            Напоминание о сообщении: <br/>
            {{ msg.text }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "Popup",
        props: ['msg'],
        data() {
            return {
                d_popupVisible: false,
            }
        },
        methods: {}
    }
</script>

<style scoped lang="scss">
    .popup-notification {
        width: 400px;
        /*position: absolute;*/
        /*bottom: 0;*/
        /*right: 0;*/
        background: rgba(#2d2d2d, .2);
        padding: 15px;
        border-radius: 15px;
    }

    .popup-notification__close-btn {
        display: block;
        margin-left: auto;
        margin-right: 0;


        &:last-child {
            margin-right: 0;
        }

        cursor: pointer;
        border: none;
        padding: 0 15px;
        border-radius: 25px;
        background: #2d2d2d;
        color: white;
        font-size: 12px;

        &:hover {
            background: rgba(#2d2d2d, .8);
        }

        &:active {
            outline: none;
            transform: scale(.8);
        }

        &:focus {
            outline: none;
        }
    }

</style>
