<template>
    <div class="reminder" ref="timer">
        <div class="timer-wrap" v-show="d_timeSwitcher === true">
            <button type="button" class="my-btn" title="reminder"
                    @click="sendDataToParent"
            >Ok</button>
            <time-input
                v-model="d_time"
            />
        </div>

        <button type="button" class="my-btn" title="reminder"
                @click="d_timeSwitcher = !d_timeSwitcher"
        ><i class="fas fa-clock"></i></button>
    </div>
</template>

<script>
    import TimeInput from "@/common/js/components/TimeInput";

    export default {
        name: "Reminder",
        components: {TimeInput},
        data() {
            return {
                d_timeSwitcher: false,
                d_time: {
                    minutes: null,
                    seconds: null,
                },
            }
        },
        methods: {
            sendDataToParent() {
                this.d_timeSwitcher = false;
                this.$emit('sendTime', this.d_time);
            }
        },
    }
</script>

<style lang="scss" scoped>
    .my-btn {
        margin-right: 10px;
        cursor: pointer;
        border: none;
        padding: 0 15px;
        border-radius: 25px;
        background: #2d2d2d;
        color: white;
        font-size: 12px;

        &:hover {
            background: rgba(#2d2d2d, .8);
        }

        &:active {
            outline: none;
            transform: scale(.8);
        }

        &:focus {
            outline: none;
        }
    }

    .reminder {
        display: flex;
        align-items: baseline;

        .timer-wrap {
            display: flex;
            align-items: baseline;
            margin-right: 10px;
        }
    }
</style>
