<template>
<div @click="$emit('clicked')">{{ d_property }}</div>
</template>

<script>
    export default {
        name: "Test",
        props:["property"],
        data(){
            return {
                d_property:this.property,
            }
        },
        watch:{
            property(val){
                this.d_property = val;
            }
        }
    }
</script>

<style scoped>

</style>
