<template>
    <div>
        <input class="timer" type="number" min="0" max="60" placeholder="min" required
               v-model.number="d_time.minutes"
               @input="$emit('input', d_time)"
        >
        <input class="timer" type="number" min="0" max="60" placeholder="sec" required
               v-model.number="d_time.seconds"
               @input="$emit('input', d_time)"
        >
    </div>
</template>

<script>
    export default {
        name: "TimeInput",
        props: ['value'],
        watch: {
            value(val) {
                this.d_time = {
                    minutes: val ? val.minutes : 0,
                    seconds: val ? val.seconds : 0,
                };
            }
        },
        data() {
            return {
                d_time: {
                    minutes: this.value ? this.value.minutes : 0,
                    seconds: this.value ? this.value.seconds : 0,
                },
            }
        },
    }
</script>

<style scoped>

</style>
