<template>
    <editor-menu-bar class="toolbar"
                     :editor="editor" v-slot="{ commands, isActive }">
        <div>
            <button type="button"
                    class="toolbar__button"
                    @click="commands.undo"
            >
                <i class="far fa-undo"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    @click="commands.redo"
            >
                <i class="far fa-redo"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.bold() }"
                    @click="commands.bold"
            >
                <i class="far fa-bold"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.italic() }"
                    @click="commands.italic"
            >
                <i class="far fa-italic"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.strike() }"
                    @click="commands.strike"
            >
                <i class="far fa-strikethrough"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.underline() }"
                    @click="commands.underline"
            >
                <i class="far fa-underline"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.code() }"
                    @click="commands.code"
            >
                <i class="far fa-code"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.paragraph() }"
                    @click="commands.paragraph"
            >
                <i class="fas fa-paragraph"></i>
            </button>

            <button type="button"
                    class="toolbar__button font-weight-bold"
                    :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                    @click="commands.heading({ level: 1 })"
            >
                H1
            </button>

            <button type="button"
                    class="toolbar__button font-weight-bold"
                    :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                    @click="commands.heading({ level: 2 })"
            >
                H2
            </button>

            <button type="button"
                    class="toolbar__button font-weight-bold"
                    :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                    @click="commands.heading({ level: 3 })"
            >
                H3
            </button>

            <button type="button"
                    class="toolbar__button font-weight-bold"
                    :class="{ 'is-active': isActive.heading({ level: 4 }) }"
                    @click="commands.heading({ level: 4 })"
            >
                H4
            </button>

            <button type="button"
                    class="toolbar__button font-weight-bold"
                    :class="{ 'is-active': isActive.heading({ level: 5 }) }"
                    @click="commands.heading({ level: 5 })"
            >
                H5
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.bullet_list() }"
                    @click="commands.bullet_list"
            >
                <i class="far fa-list"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.ordered_list() }"
                    @click="commands.ordered_list"
            >
                <i class="far fa-list-ol"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    :class="{ 'is-active': isActive.blockquote() }"
                    @click="commands.blockquote"
            >
                <i class="far fa-quote-right"></i>
            </button>

            <button type="button"
                    class="toolbar__button"
                    @click="showImagePrompt(commands.image)"
            >
                <i class="far fa-image"></i>
            </button>

            <link-button :editor="editor"></link-button>
            <iframe-button :editor="editor"></iframe-button>
        </div>
    </editor-menu-bar>
</template>

<script>
    import {EditorMenuBar} from 'tiptap'
    import LinkButton from "@/js/common/components/TipTap/Link/LinkButton";
    import IframeButton from "@/js/common/components/TipTap/Iframe/IframeButton";

    export default {
        name: "Toolbar",
        props: ['editor'],
        components: {
            IframeButton,
            LinkButton,
            EditorMenuBar,
        },
        methods: {
            showImagePrompt(command) {
                const src = prompt('Введите URL изображения.')
                if (src !== null) {
                    command({src})
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    @import "~@/sass/_variables.scss";

    .toolbar {
        display: flex;
        overflow: auto;
        background: #ececec;
    }

    .toolbar__button {
        width: 38px;
        border: none;
        border-bottom: 0;
        background: none;
        color: #797979;
        font-size: 16px;

        &.is-active {
            color: $secondary;
        }
    }
</style>
