<template>
    <div class="dropdown"
         :class="{dropdown_open: d_open}"
         @mouseleave="handleMouseLeave"
    >
        <div class="dropdown__toggle"
             @mouseenter="handleMouseEnter"
             @click="handleClick"
             @contextmenu.prevent="handleContextMenu"
        >
            <slot/>
        </div>
        <transition name="dropdown">
            <div v-if="d_open" class="dropdown__body"
                 ref="body"
                 :style="{width: width, ...d_position}"
            >
                <slot name="body"
                      :toggle="toggle"
                />
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "Dropdown",
        components: {},
        props: {//переменные
            width: {default: 'auto'},
            hoverOpen: {default: false},
            contextMenu: {default: false},
            disabled: {default: false}
        },
        data() { //данные, юзать префикс d_, после двоеточия - установка значения по умолчанию.
            return {
                d_open: false,
                d_position: null
            }
        },
        methods: { //функции записываются тут
            handleClick() {
                if (!this.disabled && !this.contextMenu) {
                    this.toggle();
                }
            },
            handleContextMenu() {
                if (!this.disabled && this.contextMenu) {
                    this.toggle();
                }
            },
            toggle(event, val) {
                this.d_open = val !== undefined ? val : !this.d_open;

                this.$emit('toggle', this.d_open, this.$el);

                if (!this.d_open) this.$emit('close');
                else {
                    this.updatePosition();
                    this.$emit('open');
                }

                setTimeout(() => {
                    if (this.d_open) document.body.addEventListener('click', this.handleBodyClick);
                    else document.body.removeEventListener('click', this.handleBodyClick);
                }, 50);
            },
            handleBodyClick(event) {
                if (!event.path.includes(this.$el)) this.toggle(false);
            },
            updatePosition() {
                this.$nextTick(() => {
                    const clientWidth = document.body.clientWidth;
                    const el = this.$refs.body;
                    const rect = el.getBoundingClientRect();
                    const parentRect = el.offsetParent.getBoundingClientRect();

                    const posX = (parentRect.x + rect.width);
                    const left = posX < clientWidth ? 0 : (clientWidth - posX + 'px');
                    const toTop = (parentRect.y + parentRect.height + rect.height) < window.innerHeight;

                    this.d_position = {
                        top: toTop ? '100%' : 'auto',
                        bottom: toTop ? 'auto' : '100%',
                        left: left,
                    };
                });
            },
            handleMouseEnter() {
                if (this.hoverOpen) this.toggle(null, true);
            },
            handleMouseLeave() {
                if (this.hoverOpen) this.toggle(null, false);
            },
        }
    }
</script>

<style scoped lang="scss">
    @import "~@/common/sass/_variables.scss";

    .dropdown {
        display: inline-block;
        position: relative;
        text-align: left;
    }

    .dropdown__toggle {
        display: inline;
    }

    .dropdown__body {
        flex-direction: column;
        background: white;
        position: absolute;
        box-shadow: 30px 30px 80px 0 #00000040;
        z-index: 2;
        border: 1px solid #dddddd;
        max-height: 400px;
        overflow-y: auto;
        border-radius: 10px;
    }

    .dropdown__body::v-deep > ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        [role="button"] {
            padding: 7px 15px;
            line-height: 1.2;
            display: block;
            color: $dark !important;
            cursor: pointer;

            &:hover {
                color: $secondary;
                background: #f2f2f2;
                text-decoration: none;
            }
        }
    }

    .dropdown_open {
        z-index: 5;
    }

    .dropdown-enter-active, .dropdown-leave-active {
        transition: opacity .3s, transform .3s;
    }

    .dropdown-enter, .dropdown-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }
</style>
