<template>
    <transition name="modal"
                v-on:after-leave="handleAfterLeave"
    >
        <div class="modal-mask" v-if="d_show">
            <div class="modal-wrapper"
                 v-on:mousedown.self="d_show = false">
                <div class="modal-container"
                     :style="containerStyle">
                    <button class="material-icons modal__close-button fal fa-times"
                            type="button"
                            v-on:click="d_show = false">
                    </button>
                    <div class="modal-body"
                         :style="bodyStyle">
                        <slot></slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "ModalComponent",
        props: {
            width: {
                default() {
                    return 'auto'
                }
            },
            height: {
                default() {
                    return 'auto'
                }
            },
            padding: {
                default() {
                    return '25px'
                }
            },
            autoDestroy: {
                default() {
                    return false;
                }
            },
            overflow: {
                default() {
                    return 'auto';
                }
            },
        },
        computed: {
            containerStyle() {
                return {
                    width: this.width,
                    height: this.height,
                };
            },
            bodyStyle() {
                return {
                    padding: this.padding,
                    overflow: this.overflow,
                };
            },
        },
        data() {
            return {
                d_show: false
            }
        },
        mounted() {
            const scrollBarWidth = window.innerWidth - document.documentElement.clientWidth;
            document.body.style.paddingRight = scrollBarWidth + 'px';
            document.documentElement.classList.toggle('modal-opened', true);
            this.d_show = true;
        },
        destroyed() {
            if (document.getElementsByClassName('modal-mask').length == 0) {
                document.documentElement.classList.toggle('modal-opened', false);
                document.body.style.paddingRight = '0';
            }
        },
        methods: {
            handleAfterLeave() {
                if (document.getElementsByClassName('modal-mask').length == 0) {
                    document.documentElement.classList.toggle('modal-opened', false);
                    document.body.style.paddingRight = '0';
                }
                if (this.autoDestroy) {
                    this.$destroy();
                    if (this.$el.parentNode)
                        this.$el.parentNode.removeChild(this.$el);
                }
                this.$emit('close');
            },
            close() {
                this.d_show = false;
            }
        }
    }
</script>

<style>
    .modal-opened {
        overflow-y: hidden;
    }
</style>

<style scoped lang="scss">
    @import "~@/sass/_variables";

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .modal-container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-height: 90%;
        min-width: 300px;
        position: relative;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: -1px 120px 102px 20px rgba(0, 0, 0, 0.33);

        &:not(.container) {
            max-width: 100%;
        }

        @include respond-to(md) {
            border-radius: 0;
            width: 100% !important;
            height: 100% !important;
            max-height: 100%;
        }
    }

    .modal-header {
        margin-top: 0;
        color: #000000;
    }

    .modal-body {
        /*margin: 20px 0;*/
        color: $dark;
        max-height: 100%;
        overflow: auto;

        @include respond-to(md) {
            padding: 0 15px 15px !important;
        }
    }

    .modal__close-button {
        outline: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        line-height: 18px;
        border: 1px solid white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        background: #ff3535;
        opacity: 1;
        margin: 5px 5px 0 auto;
        position: absolute;
        top: -15px;
        right: -15px;
        z-index: 2;
        flex-shrink: 0;

        &:hover {
            background: #c41f1f;
        }

        @include respond-to(md) {
            position: static;
        }
    }


    .modal-enter-active, .modal-leave-active {
        transition: opacity .3s, transform .3s;
    }

    .modal-enter, .modal-leave-to {
        opacity: 0;
        transform: scale(1.1);
    }


</style>
