<template>
    <div>
        <h4>Ошибка</h4>
        <p>Недостаточно прав.</p>
    </div>
</template>

<script>
    export default {
        name: "TheErrorPage"
    }
</script>

<style scoped>

</style>
